
*{
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}



/* header style  start */

.header{
    background-color: skyblue;
    margin-bottom: 0;
}

header .bg-img{
    margin-right: 100px;
}

.banner{
    padding: 40px 30px 30px 130px;
    display: flex;
}

.title {
    margin-top: 100px;
}

.banner h2 {
    font-size:x-large;
}


/* header style end */

/* Feature style start */





/* Feature style end */

/* hot style start */

.hot-deal{
    display: flex;
    padding: 50px;
}

.text-h{
    margin-left: 200px;
    margin-top: 50px;
}

.h-img{
    margin-left: 300px;
}
.btn{
    background-color: blue;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 3px;
}



/* hot style  end */


/* Instagram style start */

.Instagram {
    margin: 0 100px;
    margin-top: 0;
    background-color: gray;
    padding: 20px;
    margin-bottom: 0;
}

.text{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}



.imgs, img{
    margin-left: 40px;
    display: flex;
    padding: 10px 0;
} 

/* Instagram style end */

/* get-deal style start */

.get-deal{
    height: 200px;
    background-image: url("Rectangle 9.png");
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin: 50px 100px;
    padding: 80px;
}

.get-deal > h1{
    margin-top: 5px;
}

.get-deal > p{

    margin-bottom: 30px;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.btn-1{
    background-color: blue;
    color: white;
    border: 0;
    padding: 5px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
}

/* get-deal end */

footer{
    background-color: black;
    height: 300px;
    color: white;
    text-align: center;
    justify-content: center;
}

.f-c{
    color: green;
}

.f-l-t{
    color: gray;
}

.text-f{
    padding-top: 50px;
    
}

